<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://br.web.img3.acsta.net/pictures/19/12/04/22/35/3436063.jpg" alt="Imagem de capa do card">
    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Vikings</h5>
      <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>

      <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center">Série</a>

      <a href="" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Site da Série</a>

    </div>
  </div>